
<body class="profile-page sidebar-collapse">

    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/libs/bootstrap/img/book.jpg');"></div>
    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
         <div style="padding-top:30px;">
              <h3>Bienvenido {{autentificado.nombres}}</h3>
              <hr>
              <div class="row" style="margin-bottom: 20px; padding-bottom: 20px;">
                <div class="col-md-4">
                    <img src="https://bibliotecabackend.herokuapp.com/archivos/imagen/{{autentificado.imagenId}}/2?clave=QDm6pbKeVwWikPvpMSUYwp0tNnxcaLoYLnyvLQ4ISV39uQOgsjTEjS0UNlZHwbxl2Ujf30S31CSKndwpkFeubt5gJHTgFlq7LeIaSYc0jNm44loPty2ZK1nI0qisrt2Xwq0nFhdp8H3kdpyL5wVZLH7EpSE6IO0cHAOGOfSpJjF36eiCuXJ3gkOfX8C4n" class="" alt="Responsive image" style="border-radius: 200px; width: 200px;height: 200px; margin-bottom: 20px;">
                    <p>{{autentificado.apellidos}}{{autentificado.nombres}}</p>
                    <p>Estado: Normal</p>
                    <p>Nª Préstamos : 14</p>
                    <p>Nº Castigos : 2</p>
                    <p>Nº Temas : 7</p>
                </div>
                <div class="col-md-8">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-personal-tab" data-toggle="tab" href="#nav-personal" role="tab" aria-controls="nav-personal" aria-selected="true">Datos Personales</a>
                          <a class="nav-item nav-link" id="nav-academico-tab" data-toggle="tab" href="#nav-academico" role="tab" aria-controls="nav-academico" aria-selected="false">Datos Académicos</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent" style="padding-top:20px;">
                        <div class="tab-pane fade show active" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
                          <p>Nombres : {{autentificado.nombres}}</p>
                          <p>Apellidos : {{autentificado.apellidos}}</p>
                          <p>Edad : {{autentificado.edad}} años</p>
                          <p>Sexo : {{autentificado.sexo?"Femenino":"Masculino"}}</p>
                          <p>Direccion : {{autentificado.direccion}}</p>
                          <p>DNI : {{autentificado.dni}}</p>
                          <p>Teléfono : {{autentificado.telefonoCasa}}</p>
                          <p>Móvil : {{autentificado.telefonoMovil}}</p>
                          <p>Correo Institucional : {{autentificado.correoInstitucional}}</p>
                          <p>Correo Personal : {{autentificado.correoPersonal}}</p>
                        </div>
                        <div class="tab-pane fade" id="nav-academico" role="tabpanel" aria-labelledby="nav-academico-tab">
                            <p>Tipo de Usuario : {{tipoUsuario?tipoUsuario.nombre:null}}</p>
                            <p>Estado : Normal</p>
                            <p>Temas más buscados : Inteligencia Artifical, Economía, Cálculo I, Fisica III, Cálculo II</p>
                            <p>Libros más pedidos : Cálculo Integral, Física III, Economía para la Gestión, Inteligencia Artificial, Redes Neuronales</p>
                            <p>Calificación : 111 puntos</p>

                        </div>
                      </div>
                </div>
                
              </div>
          </div>
        </div>
      </div>
    </div>
  
  </body>
  