<body class="profile-page sidebar-collapse">

    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/libs/bootstrap/img/book.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-dark">
                    <div class="container">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/users']">Alumnos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/libros']">Libros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/editoriales']">Editoriales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/autores']">Autores</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <h3>Bienvenido,Administrador</h3>
                    <hr>
                    <div class="panel panel-success">
                        <div class="panel-heading text-uppercase">Libros:</div>
                        <br>
                        <div class="panel-body">
                            <p>Solo usted como administrador tiene acceso a esta sección.</p>
                            <p>Desde aquí es posible gestionar la información de los libros.</p>
                            <div class="row">
                                <div class="col-md-10 text-right">
                                    <button type="button" name="button" [routerLink]="['/libro','nuevo']" class="btn btn-success">
                                      Nuevo Libro
                                  </button>
                                </div>
                            </div>
                            <br>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="success">
                                        <th>ID</th>
                                        <th>TITULO</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>AÑO</th>
                                        <th>EDICIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let libro of libros">
                                        <td>{{libro.libroId}}</td>
                                        <td>{{libro.titulo}}</td>
                                        <td>{{libro.tituloSecundario}}</td>
                                        <td>{{libro.anio}}</td>
                                        <td class="text-right">{{libro.edicion}}</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Ver Libro" (click)="mostrarLibro(libro.libroId)" class="btn btn-info btn-simple btn-xs">
                                              <i class="fa fa-user"></i>
                                          </button>
                                            <button type="button" rel="tooltip" title="Editar Libro" (click)="editarLibro(libro.libroId)" class="btn btn-success btn-simple btn-xs">
                                              <i class="fa fa-edit"></i>
                                          </button>

                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-danger btn-simple btn-xs" type="button" rel="tooltip" title="Eliminar" data-toggle="modal" data-target="#exampleModal" (click)="modalBoton(libro)">
                                              <i class="fa fa-times"></i>
                                          </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ELIMINACION DE LIBRO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                </div>
                <div class="modal-body">
                    Esta seguro de eliminar al libro con id: {{libroBoton.libroId}} ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button (click)="deleteLibro(libroBoton.libroId)" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</body>