<body class="profile-page sidebar-collapse">

    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/libs/bootstrap/img/books.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="card">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h4 class="card-title">AGREGAR LIBROS</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p>Llenar el siguiente formulario:</p>
                </div>
                <div class="container">
                    <form (ngSubmit)="guardar()" #forma="ngForm" class="form-horizontal">
                        <div class="form-row">
                            <div class=" form-group col-md-6">
                                <label class="bmd-label-floating" for="titulo">Titulo</label>
                                <input [(ngModel)]="libro.titulo" type="text" class="form-control" id="titutlo" name="titulo">
                            </div>
                            <div class=" form-group col-md-6">
                                <label class="bmd-label-floating" for="tituloSecundario">Titulo Secundario</label>
                                <input [(ngModel)]="libro.tituloSecundario" type="text" class="form-control" name="tituloSecundario" required id="tituloSecundario">
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="form-group col-md-3 ml-auto">
                                <label class="bmd-label-floating" for="clasificacion">Clasificación</label>
                                <input [(ngModel)]="libro.clasificacion" name="clasificacion" required type="text" class="form-control" id="clasificacion">
                            </div>
                            <div class="form-group col-md-3 ml-auto">
                                <label class="bmd-label-floating" for="anio">Año</label>
                                <input [(ngModel)]="libro.anio" name="anio" required type="number" class="form-control" id="anio">
                            </div>
                            <div class="form-group col-md-3">
                                <label class="bmd-label-floating" for="edicion">Edicion</label>
                                <input [(ngModel)]="libro.edicion" name="edicion" type="number" required class="form-control" id="edicion">
                            </div>
                            <div class="form-group col-md-3">
                                <label class="bmd-label-floating" for="isbn">ISBN</label>
                                <input [(ngModel)]="libro.isbn" name="isbn" type="text" required class="form-control" id="isbn">
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label class="bmd-label-floating" for="extension">Extensión</label>
                                <input [(ngModel)]="libro.extension" name="extension" type="number" class="form-control" id="extension">
                            </div>
                            <div class="form-group col-md-5">
                                <label class="bmd-label-floating" for="dimensiones">Dimensiones</label>
                                <input [(ngModel)]="libro.dimensiones" name="dimensiones" type="text" class="form-control" id="dimensiones">
                            </div>
                            <div class="form-group col-md-5 ml-auto">
                                <label class="bmd-label-floating" for="acompaniamiento">Acompañamiento</label>
                                <input [(ngModel)]="libro.acompaniamiento" name="acompaniamiento" type="text" class="form-control" id="acompaniamiento">
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="bmd-label-floating" for="observaciones">Observaciones</label>
                                <input [(ngModel)]="libro.observaciones" name="observaciones" type="text" class="form-control" id="observaciones">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="bmd-label-floating" for="palabrasClaves">Palabras Clave</label>
                                <input [(ngModel)]="libro.palabrasClaves" name="palabrasClaves" type="text" class="form-control" id="palabrasClaves">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating" for="resumen">Resumen</label>
                            <input [(ngModel)]="libro.resumen" name="resumen" type="text" class="form-control" id="resumen">
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating" for="capitulos">Capitulos</label>
                            <input [(ngModel)]="libro.capitulos" name="capitulos" type="text" class="form-control" id="capitulos">
                        </div>
                        <div class="form-group" routerLinkActive="active">
                            <button type="button" class="btn btn-danger" [routerLink]="['/libros']">
                              Cancelar
                          </button>
                            <!-- Button trigger modal -->
                            <button type="button" [disabled]="!forma.valid" class="btn btn-success" type="submit" rel="tooltip" title="Eliminar" data-toggle="modal" data-target="#exampleModal">
                              Guardar Cambios
                          </button>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">CREACIÓN DE LIBRO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                </div>
                <div class="modal-body">
                    LIBRO CREADO CON ÉXITO!!
                </div>
                <div class="modal-footer">
                    <button [routerLink]="['/libros']" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</body>