<div class="page-header header-filter" style="background-image: url('../assets/libs/bootstrap/img/img03.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 ml-auto mr-auto">
                <div class="card card-login">
                    <form #formLogin="ngForm" (ngSubmit)="iniciarSesion()">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Login</h4>

                            <div class="social-line">
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                    <i class="material-icons">mail</i>
                                </span>
                                </div>
                                <input [(ngModel)]="login.nombre" id="email" name="email" type="email" class="form-control" placeholder="Email..." required>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="material-icons">lock_outline</i>
                                    </span>
                                </div>
                                <input [(ngModel)]="login.contrasenia" id="password" name="password" type="password" class="form-control" placeholder="Contraseña..." required>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-info">INICIAR SESIÓN</button>
                        </div>
                    </form>
                </div>
                <div class="alert alert-danger" *ngIf="isError">
                    <div class="container-fluid">
                        <div class="alert-icon">
                            <i class="material-icons">error_outline</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                        </button>
                        <b>Error:</b> El usuario y/o la contraseña es incorrecto!!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>