<body class="profile-page sidebar-collapse">

    <div class="page-header header-filter" data-parallax="true"
        style="background-image: url('../assets/libs/bootstrap/img/book.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-dark">
                    <div class="container">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/users']">Alumnos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/libros']">Libros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/editoriales']">Editoriales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/autores']">Autores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/prestamo']">Prestamos de Libros</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <h3>Bienvenido,Administrador</h3>
                    <hr>
                    <div class="panel panel-success">
                        <div class="panel-heading text-uppercase">Autores:</div>
                        <br>
                        <div class="panel-body">
                            <p>Solo usted como administrador tiene acceso a esta sección.</p>
                            <p>Desde aquí es posible gestionar los prestamos de libros.</p>
                            <br>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="success">
                                        <th>ID</th>
                                        <th>TITULO</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>AÑO</th>
                                        <th>EDICIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let libro of libros">
                                        <td>{{libro.libroId}}</td>
                                        <td>{{libro.titulo}}</td>
                                        <td>{{libro.tituloSecundario}}</td>
                                        <td>{{libro.anio}}</td>
                                        <td class="text-right">{{libro.edicion}}</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Solicitar"
                                                class="btn btn-info btn-simple btn-xs" data-toggle="modal"
                                                data-target="#exampleModal" (click)="modalBoton(libro.libroId)">
                                                <i class="fa fa-book"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">SOLICITAR LIBRO</h5>
                </div>
                <div class="modal-body">
                    <div class="container"> 
                        <form  #forma="ngForm" class="form-horizontal">
                                <div class="form-row">
                                        <div class=" form-group col-md-10">
                                            <label class="bmd-label-floating" for="titulo">ITEM</label><br>
                                            <select [(ngModel)]="prestamo.itemId" name="item" class="form-control" id="sel1">
                                                <option value ={{item.itemId}} *ngFor="let item of itemData"> 
                                                      ITEM  {{item.itemId}}                                                    
                                                </option>
                                            </select>
                                         </div>                                 
                                </div>
                                <div class="form-row">
                                        <div class=" form-group col-md-10">
                                           <label class="bmd-label-floating" for="titulo">Fecha Inicio</label><br>
                                          <input  [(ngModel)]="prestamo.fechaInicio" name="fechaInicio" type="date" class="form-control" id="resumen">
                                         </div>                                 
                                </div>
                                <div class="form-row">
                                        <div class=" form-group col-md-10">
                                           <label class="bmd-label-floating" for="titulo">Fecha Fin</label><br>
                                          <input  [(ngModel)]="prestamo.fechafin" name="fechafin" type="date" class="form-control" id="resumen">
                                         </div>                                 
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                        <button type="button"  (click)="guardar(prestamo)" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal">
                                         Crear pedido
                                        </button>
                                    </div>

                         <!--  <div class="form-row">
                                <div class=" form-group col-md-6">
                                    <label class="bmd-label-floating" for="titulo">Fecha Inicio</label><br>
                                    <input [(ngModel)]="prestamo.fechaInicio" type="date" class="form-control" id="titutlo"
                                        name="titulo">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="bmd-label-floating" for="resumen">Fecha Fin</label><br>
                                <input [(ngModel)]="prestamo.fechafin" name="resumen" type="date" class="form-control"
                                    id="resumen">
                            </div>
                            <div class="form-group" routerLinkActive="active">
                                <button type="button" class="btn btn-danger" [routerLink]="['/libros']">
                                    Cancelar
                                </button>                               
                                <button type="button" [disabled]="!forma.valid" class="btn btn-success" type="submit"
                                    rel="tooltip" title="Eliminar" data-toggle="modal" data-target="#exampleModal">
                                    Guardar Cambios
                                </button>
                            </div> -->
                        </form>
                        <br>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</body>